.footer {
    padding-top: 30px;
    position: relative;
    height: 150px;
    &__menu {
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        width: 355px;
        height: 40px;
        li {
            a {
                text-decoration: none;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                color: #000000;
            }
        }
    }
    &__icon {
        position: absolute;
        left: 483px;
        top: 51px;
    }
    &__logo {
        position: relative;
        margin: 0 auto;
        width: 200px;
        img {
            display: block;
            margin: 0 auto;
            margin-top: 30px;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 60px;
            height: 1px;
            background-color:#000000;
        }
        &::after {
            left: unset;
            right: 0;
        }
    }
}